[submodule "pack/plugins/start/vim-endwise"]
	path = pack/plugins/start/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "pack/plugins/start/vim-unimpaired"]
	path = pack/plugins/start/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "git:/github.com/tpope/vim-surround.git"]
	path = git:/github.com/tpope/vim-surround.git
	url = git://github.com/tpope/vim-abolish.git
[submodule "pack/plugins/start/vim-abolish"]
	path = pack/plugins/start/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "pack/plugins/start/vim-rails"]
	path = pack/plugins/start/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "pack/plugins/start/vim-commentary"]
	path = pack/plugins/start/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "pack/plugins/start/vim-haml"]
	path = pack/plugins/start/vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule "pack/plugins/start/vim-vividchalk"]
	path = pack/plugins/start/vim-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
